<div id="sideBar" class="shadow-lg MyNavigation position-fixed bottom-0 start-0 d-flex flex-column justify-content-between"style="">
    <ul id="sideList" class="d-flex align-items-start flex-column p-0 ps-md-2">
        <li class="liLinks text-dark btn mb-3 mt-4 d-flex flex-column flex-md-row align-items-center" ><i class="fa-solid fa-user b- fs-5"></i><a href="/profile" class="ms-3 d-none d-md-inline fw-semibold ">Profile</a></li> 

        <li class="liLinks text-dark btn mb-3 mt-1 d-flex flex-column flex-md-row align-items-center "><i class="fa-solid fa-briefcase"></i><a href="/my-services" class="ms-3 d-none d-md-inline fw-semibold ">My Services</a></li> 
        
        <li class="liLinks text-dark btn mb-3 mt-1 d-flex flex-column flex-md-row align-items-center "><i class="fa-sharp fa-solid fa-handshake"></i><a href="/my-proposals" class="ms-3 d-none d-md-inline fw-semibold ">My Proposals</a></li> 
            <li class="liLinks text-dark btn mb-3 mt-1 d-flex flex-column flex-md-row align-items-center "><i class="fa-solid fa-users "></i><a href="/manage-users" class="ms-3 d-none d-md-inline fw-semibold ">Users</a></li> 
            <li class="liLinks text-dark btn mb-3 mt-1 d-flex flex-column flex-md-row align-items-center "><i class="fa-solid fa-bars"></i><a href="/categories" class="ms-3 d-none d-md-inline fw-semibold ">Categories</a></li> 
    </ul>
    <a id="signOutBtn" href="" class="d-block">
        <div class=" setRedColor d-flex flex-column flex-md-row justify-content-center align-items-center mb-5">
            <i class=" setRedColor fa-solid fa-right-from-bracket fs-5  m-auto m-md-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg></i>
            <span id="signOutText" class="setRedColor d-none d-md-inline ms-3" (click)="signOut()" style="opacity: 0.9;">Sign Out</span>
        </div>
    </a>
    
</div>
