#signOutBtn i,#signOutBtn svg{
    width: 20px;
    height: 20px;
    fill: red;
    color: red;
}
#signOutBtn svg{
    margin-bottom: 15px;
}
i svg{
    width: 20px;
    height: 20px;
    fill: black;
}
i{
    margin-bottom: 5px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}