<div id="profile" class="hasSideBar hasNavBar">
  <form
    id="edit-profile-form"
    action=""
    method=""
    (ngSubmit)="editProfile()"
    class="d-flex flex-column align-items-center m-auto mt-5"
    enctype="multipart/form-data"
  >
    <div
      id="edit-profile-avatar"
      class="d-flex flex-column align-items-center mt-4 w-100 px-3"
    >
      <img
        id="editImage"
        src="/assets/images/avatar.png"
        alt=""
        class="rounded-circle object-fit-contain"
        style="width: 180px; height: 180px"
      />
    </div>
    <div id="" class="mt-2 w-100 px-3">
      <label for="name" class="edit-label">NAME</label>
      <input
        type="text"
        class="MyInputs edit-service-input w-100"
        name="name"
        [(ngModel)]="user.name"
      />
    </div>
    <div id="" class="mt-2 w-100 px-3">
      <label for="description" class="edit-label">DESCRIPTION</label>
      <input  
        type="text"
        class="MyInputs edit-service-input"
        name="description"
        [(ngModel)]="user.description"
      />
    </div>
    <div id="" class="mt-2 w-100 px-3">
      <label for="phone" class="edit-label">PHONE</label>
      <input
        type="text"
        class="MyInputs edit-service-input"
        name="phone"
        [(ngModel)]="user.phone"
      />
    </div>
    <div id="" class="mt-2 w-100 px-3">
      <label for="city" class="edit-label">CITY</label>
      <select type="text" class="MyInputs edit-service-input" name="city" [(ngModel)]="user.city.name"
      >
      <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
    </select>
    </div>
    <button type="submit" class="mb-2 mt-4">Save</button>
  </form>
</div>
